<header>
 <nav class ="flex  justify-between px-8 py-4 bg-deep-purple-300">
  <a href="/" class="text-lg font-bold font-sintony">logo</a>
  <ul class ="flex items-center align-middle gap-5">
    <li><a href="">Dashboard</a></li>
    <li><a href="">Meditatation zone</a></li>
    <li><a href="">My Current Stats</a></li>
    <li><a href="">Support Tools</a></li>
  </ul>
 </nav>
      
</header>



