


    <!-- Navbar goes here -->
		<nav class="bg-white shadow-lg" x-data="{ isOpen: false } "  @keydown.escape="isOpen = false">
			<section class="px-4 md:px-16 py-4">
				<section class="flex justify-between">
					<section class="flex space-x-7">
						<section>
							<!-- Website Logo -->
              <a href="/dashboard" class="flex text-xl md:text-2xl font-bold font-poppins text-gray-800 items-center" >
                <img class="" src="/images/logo.svg" alt="">
               <h1 class=""> emotionalize</h1>
              </a>
        
						</section>
						<!-- Primary Navbar items -->
						<ul class="hidden md:flex items-center space-x-4 text-base">
							
                  <li class ='current'><a href="#tools" class="dashboard text-black hover:text-teal-700 px-2 py-4 transition duration-300 font-semibold">Wellbeing Tools</a></li>
                  <li><a a href="#community" class=" text-black hover:text-teal-700 px-2 py-4 transition duration-300"> Community</a></li>
             
           	 </ul>
					</section>
					<!-- Secondary Navbar items -->
					<ul class="hidden md:flex items-center space-x-10">
         
              <li class="hover:scale-105 transition duration-300 transform"><a class="py-4 px-4 font-medium text-base text-white bg-teal-700 rounded hover:bg-teal-800 transition duration-300 transform" href="/signup">Begin</a></li>
              
					</ul>
					<!-- Mobile menu button -->
					<section class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button ">
						<svg class=" w-6 h-6 text-gray-500 hover:text-teal-700 "
							
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</section>
				</section>
			</section>
			<!-- mobile menu -->
			<section class="hidden mobile-menu bg-teal-700 text-white">
				<ul class="">
          <li class ='current'><a href="#tools" class="flex text-sm px-8 py-4 text-white border border-teal-900 font-semibold">Wellbeing Tools</a></li>
          <li><a a href="#community" class=" flex text-sm px-8 py-4 text-white border border-teal-900 font-semibold"> Community</a></li>
         
        <li class="bg-teal-900"><a  class="flex text-sm px-8 py-4 hover:bg-teal-500 transition duration-300" href="/signup">Sign Up</a></li>
				</ul>
			</section>
	
		</nav>
 
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  
   </header>

