<!-- <footer><a href="https://www.flaticon.com/free-icons/religion" title="religion icons">Religion icons created by Freepik - Flaticon</a></footer> -->

<footer class="text-center border-t-2 border-teal-700 text-white" style="background-color: #101827 ">
    <section class="container p-6">
      <section class="">
        <p class="flex justify-center items-center">
          <span class="mr-4">Register for free</span>
          <button type="button" class="inline-block px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
            Sign up!
          </button>
        </p>
      </section>
    </section>
  
    <section class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://tailwind-elements.com/">Tailwind Elements</a>
    </section>
  </footer>