<header class="shadow relative z-30">
 <nav class ="flex justify-between px-16 py-4 gap-10 bg-white align-middle items-center bg-cover bg-center fixed w-full ">
  <a href="/" class="flex text-3xl font-bold font-poppins  text-gray-800" >
    <img src="/images/logo.svg" alt="">
   <h1> emotionalize</h1>
  </a>
  <ul class ="hidden md:flex flex-row items-center align-middle gap-4 text-base text-white">
    <li class=""><a href="#tools" class=" text-black  hover:text-teal-500">Wellbeing Tools</a></li>
    <li><a href="#community" class="  text-black  hover:text-teal-500">Community</a></li>
    <li class="text-white font-bold bg-teal-700 p-4 w-24 flex justify-center items-center shadow rounded-3xl hover:bg-teal-900" ><a href="/signup">Begin</a></li>
  </ul>
  <button class="md:hidden"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-white" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd" />
  </svg>
  </svg></button>
 </nav>
 <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</header>



