<!-- Navbar goes here -->
<nav
  class="bg-white shadow-lg"
  x-data="{ isOpen: false } "
  @keydown.escape="isOpen = false"
>
  <section class="px-4 md:px-16 py-4">
    <section class="flex justify-between">
      <section class="flex space-x-7">
        <section>
          <!-- Website Logo -->
          <a
            href="/dashboard"
            class="flex text-2xl md:text-2xl font-bold font-poppins text-gray-800 items-center"
          >
            <img class="" src="/images/logo.svg" alt="" />
            <h1 class="">emotionalize</h1>
          </a>
        </section>
        <!-- Primary Navbar items -->
      
      </section>
  

</nav>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
