<!-- Navbar goes here -->
<nav
  class="bg-white shadow-lg"
  x-data="{ isOpen: false } "
  @keydown.escape="isOpen = false"
>
  <section class="px-4 md:px-16 py-4">
    <section class="flex justify-between">
      <section class="flex space-x-7">
        <section>
          <!-- Website Logo -->
          <a
            href="/dashboard"
            class="flex text-xl md:text-2xl font-bold font-poppins text-gray-800 items-center"
          >
            <img class="" src="/images/logo.svg" alt="" />
            <h1 class="">emotionalize</h1>
          </a>
        </section>
        <!-- Primary Navbar items -->
        
      </section>
      <!-- Secondary Navbar items -->
      
  
    </section>
  </section>
  <!-- mobile menu -->
  <section class="hidden mobile-menu bg-teal-700 text-white">
    <ul class="">
     
      <li class="bg-teal-900">
        <a
          class="flex text-sm px-8 py-4 hover:bg-teal-500 transition duration-300"
          href="/signup"
          >Sign Up</a
        >
      </li>
    </ul>
  </section>
</nav>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
