
<!-- everything comes through here first because it is an ejs layouts configuration -->
<!-- this talks to controller -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sintony&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

<!-- Font Awesome Link -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
crossorigin="anonymous"
/>

    <link rel="stylesheet" href="/output.css">
    <title> placeholder </title>
</head>
<body class="">
<!-- header -->
    <%- include('../partials/dashboard-header.ejs') %>

    <%-body %>
  
    <!-- footer -->
    <%- include('../partials/dashboard-footer.ejs') %>
  <!-- script -->
  <script src="/index.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  
  
  <script>
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];

    
  
    const data = {
    
      datasets: [
                {
                    label: "Moods",
                    data: [{
                        x: "04/01/2014", y: 5
                    }, {
                        x: "10/01/2014", y: 4
                    }, {
                        x: "04/01/2015", y: 5
                    }, {
                        x: "10/01/2015", y: 3
                    },
                    {
                        x: "11/01/2015", y: 3
                    },
                    {
                        x: "17/01/2015", y: 3
                    }],
                    fill: false,
                    borderColor: 'teal'
                },]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {
        
        scales: {
   x: {
      display: true,
   },
   y: {
      display: false,
   }
},
        
      }
    };
  </script>
   
  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
</body>
</html>