
<!-- everything comes through here first because it is an ejs layouts configuration -->
<!-- this talks to controller -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material Icons Link -->
    <link
    href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
    rel="stylesheet"
  />

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sintony&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

<!-- Font Awesome Link -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
crossorigin="anonymous"
/>
    <link rel="stylesheet" href="/output.css">
    <title> placeholder </title>
</head>
<body class="">
<!-- header -->
    <%- include('../partials/signup-header.ejs') %>

    <%-body %>

    <!-- footer -->
    <%- include('../partials/dashboard-footer.ejs') %>
  <!-- script -->


  <script src="main.js"></script>
    
</body>
</html>