

<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover min-h-screen md:pb-56 pt-32">
   <h1 class="text-neutral-200 text-2xl px-10 font-bold">Positivity Hub</h1>
 <section class=" p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-4">

   <% for(let i=0; i<thoughts.length; i++) {%>
     <section class="bordershadow-lg rounded overflow-hidden text-neutral-200 border border-gray-700">
        
            <a href="/tools/thoughtdiary/<%=thoughts[i].id%>" style="width:100%;height:150px">
               <img src="<%=thoughts[i].image%>" class="object-cover" style="width:100%;height:150px">
            </a>
            <section class="p-4">
            <p class="text-neutral-200"><%=thoughts[i].summary%></p>
            <p class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#<%=thoughts[i].category%></p>
        </section>
      </section>
    
     <% } %>
  </section>
</section>

