<!-- Community Forum -->
<!-- <h1 class="" >Community Forum</h1> -->
<section
  class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover min-h-screen md:pb-56 font-poppins"
>
  <section
    class="flex items-center bg-teal-700 bg-[url('/images/overlapping-circles.svg')] p-5 m-0"
  >
    <p class="px-8 text-white text-base font-poppins">
      Community - Come and chat with others, share the love and support.
    </p>
  </section>

  <section
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 px-8 md:px-16 pt-16 hover:scale-105 transition delay-150 duration-300 ease-in-out"
  >
    <section class="max-h-96">
      <img
        src="/images/thoughts.jpg"
        alt=""
        class="rounded-t-md md:rounded-tl-md md:rounded-bl-md object-cover"
        style="width: 100%; height: 100%"
      />
    </section>
    <section
      class="bg-slate-800 text-white md:rounded-tr-md md:rounded-br-md p-8"
    >
      <!-- randomise each community here - add a new model for each and route to get -->
      <p class="text-xl px-4">
        <span class="border-b-2 border-teal-700"
          >Featured Community - Daily Thoughts</span
        >
      </p>
      <p class="text-base p-4 text-neutral-400">
        A place to share thoughts with the hive mind. Like, support or simply be
        inspired.
      </p>
    </section>
  </section>

  <section
    class="px-16 mt-5 place-items-center grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 text-black text-base rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20"
  >
    <section class="px-8 py-16 flex w-80">
      <a
        href="/dashboard/community/communityMotivations"
        class="flex items-center space-x-4"
      >
        <img
          src="/images/quotes.jpg"
          alt=""
          class="object-cover rounded-full hover:scale-105 transition delay-150 duration-300 ease-in-out shadow-md"
          style="width: 70px; height: 70px"
        />
        <h1
          class="hover:text-teal-700 transition delay-150 duration-300 ease-in-out"
        >
          Motivational Quotes
        </h1>
      </a>
    </section>

    <section class="px-8 py-16 flex w-80">
      <a
        href="/dashboard/community/communityThoughts"
        class="flex items-center space-x-4"
      >
        <img
          src="/images/thoughts.jpg"
          alt=""
          class="object-cover rounded-full hover:scale-105 transition delay-150 duration-300 ease-in-out shadow-md"
          style="width: 70px; height: 70px"
        />

        <h1
          class="hover:text-teal-700 transition delay-150 duration-300 ease-in-out"
        >
          Daily Thoughts
        </h1>
      </a>
    </section>
  </section>
</section>
