<section>
 <h2>New post</h2>
</section>
<section>
<section>

    <p><%=thought.summary%> </p>
    <p><%=thought.details%> </p>
</section>
<p>like</p>
<p>comment</p>
<p>bookmark</p>
<p>share</p>
</section>

<!-- like route
comment route
bookmark
share -->