<!-- Community Forum -->
<h1 >Community Forum</h1>
<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 min-h-screen md:pb-56 font-poppins ">
    <section class="px-32 py-8 pt-4 ">
        <h2 class='text-xl font-poppins' >Community Posts</h2>
        <section class="flex w-full justify-center hover:scale-105 transition delay-150 duration-300 ease-in-out rounded-md mt-4 shadow-neutral-500 shadow-md">
           <section class="w-3/4">
            <img src="/images/thankful.jpg" alt="" class="rounded-tl-md rounded-bl-md">
        </section>
            <section class="bg-slate-800 text-white rounded-tr-md rounded-br-md  p-8 w-2/4">
               
                <h1 class='text-2xl p-4'>Featured Community</h1>
                <p class="text-xl p-4">A place to share what you are thankful and greatful for each day or week, share the positivity.</p>
            </section>
        </section>
<section class=" px-16 py-8 hover:scale-105 transition delay-150 duration-300 ease-in-out   mt-5 place-items-center  grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2  text-black text-base  rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20  shadow-neutral-500 shadow-md">

    <section class="px-8 py-16 flex w-80  ">
        <a href="/dashboard/community/communityMotivations" class="flex items-center space-x-4">
        <img src="/images/quotes.jpg" alt="" class="object-cover rounded-full hover:scale-105 transition delay-150 duration-300 ease-in-out shadow-md" style="width:70px;height:70px">
        <h1 class="hover:text-teal-700 transition delay-150 duration-300 ease-in-out">Motivational Quotes</h1>
        </a>
    </section>
    <section class="px-8 py-16  flex w-80">
        <a href="/dashboard/community/communityThoughts" class="flex items-center space-x-4">
            <img src="/images/thoughts.jpg" alt="" class="object-cover rounded-full hover:scale-105 transition delay-150 duration-300 ease-in-out shadow-md" style="width:70px;height:70px">
            <h1 class="hover:text-teal-700 transition delay-150 duration-300 ease-in-out">Daily Thoughts</h1>
        </a>
        </section>
 
    <section class="px-8 py-16 flex w-80 ">
        <a href="/dashboard/community/communityThoughts" class="flex items-center space-x-4">
            <img src="/images/thankful.jpg" alt="" class="object-cover rounded-full hover:scale-105 transition delay-150 duration-300 ease-in-out shadow-md" style="width:70px;height:70px">
        <h1 class="hover:text-teal-700 transition delay-150 duration-300 ease-in-out">Thankful</h1>     
        </a>
        </section>
    <section class="px-8 py-16 flex w-80 ">
        <a href="/dashboard/community/communityThoughts" class="flex items-center space-x-4">
            <img src="/images/anxiety.jpg" alt="" class="object-cover rounded-full hover:scale-105 transition delay-150 duration-300 ease-in-out shadow-md" style="width:70px;height:70px">
        
        <h1 class="hover:text-teal-700 transition delay-150 duration-300 ease-in-out">Anxiety</h1>
    </a>
    </section>

</section>
</section>
</section>
