<!-- Community Forum -->
<h1 >Community Forum</h1>
<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 min-h-screen md:pb-56 font-poppins ">
    <section class="px-32 py-8 ">
        <section class="w-full border border-white p-52 hover:scale-105 transition delay-150 duration-300 ease-in-out rounded-md"></section>
<section class=" px-16 py-8 hover:scale-105 transition delay-150 duration-300 ease-in-out  even:bg-transparent odd:bg-neutral-400  even:text-neutral-500 odd:text-white  mt-5 shadow-md  grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 text-left text-black text-base  rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20  border-white  border-dashed border-2 ">
    <!-- <section class="p-4 flex items-center space-x-4"><img src="/images/goals.png" alt=""><h1>Goals</h1></section> -->
    <section class="p-4 flex items-center space-x-4">
        <img src="/images/motivation.png" alt="">
        <h1>Motivational Quotes</h1>
    </section>
    <section class="p-8">
        <a href="/dashboard/community/communityThoughts" class="flex items-center space-x-4">
            <img src="/images/thought.png" alt="">
            <h1>Daily Thoughts</h1>
        </a>
        </section>
    <!-- <section class=" p-4 flex "><h1>Depression Support</h1></section> -->
    <section class="p-4 flex "><h1 class="text-left">Grattitude</h1></section>
    <section class="p-4 flex "><h1>Anxiety</h1></section>
    <!-- <section class="p-4 flex "><h1>Health</h1></section> -->
    <!-- <section class="p-4 flex ">
        <h1>Mindfulness</h1></section>
</section> -->
</section>
</section>