<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-28 min-h-screen md:pb-56">
    <section class="flex justify-center">
    
    <section class="w-full max-w-5xl">
      
        <section class="bg-gradient-to-r from-teal-700 to-pink-500 shadow-md rounded px-8 pt-6 pb-8 mb-4 text-white">
          <section class="mb-6">
            <h1 class="block text-6xl text-white font-bold mb-2">
            Mood
            </h1>
           
          </section>
        </section>
        <p class="text-center text-gray-500 text-xs">
          &copy;2020 Acme Corp. All rights reserved.
        </p>
      </section>
    </section>
    </section>