<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 min-h-screen md:pb-56">
<section class ="container mx-auto lg:pt-4 lg:flex lg:flex-row  w-full ">
<section class=" flex flex-col gap-8 font-barlow px-8  ">
   
    <h1 class=" text-neutral-300 font-bold font-barlow text-4xl flex flex-col" x-intersect="$el.classList.add('fadeInUp')" >Allow yourself, take <span class="text-7xl text-yellow-700">control.</span></h1>
    <p class=" text-neutral-400 font-barlow text-xl font-light md:pr-32" x-intersect="$el.classList.add('fadeInUp')" >A place for all of your well being purposes. Find a therapist, 
        help yourself using our support toolkit or just unwind in our meditation zone.</p>
      

<button class="px-8 py-4  w-44 rounded-3xl text-gray-900 font-bold bg-teal-700 text-xl font-barlow">Start Today</button>

</section>
<section class="bg-minds h-96  w-full bg-contain bg-no-repeat bg-center " x-intersect="$el.classList.add('scale')">
 

</section>
</section>
</section>

<section class=" bg-slate-700 ">
    <section class="flex flex-col justify-center align-middle w-full text-center gap-8">
        <h1  class=" text-neutral-300  font-barlow text-4xl">A community that empowers each other</h1>
        <h2 class="text-neutral-400 text-xl">92% of our users saw improvements in their wellbeing after joining Emotionaliser</h2>
    </section>

<section id='testimonials' class="container mx-auto bg-slate-700 mt-16">
    
<section class="grid grid-cols-1 gap-8 px-4 md:grid-cols-2 lg:grid-cols-3 md:px-28 md:py-4">

<section  class="py-4 px-4  bg-gray-900 hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
   
    <section class="relative  before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
    <img src="images/john.jpg" class="object-cover bg-blend-darken relative h-64 w-full" alt="person testimonial" loading="lazy">
    </section>
    <section class="px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">John</h2>
    <p class="text-neutral-400">"I had a hard time trying to manage my frustration before I found Emotionaliser. Using the thought diary allowed me to connect with my feelings and manage them effectively. I would recommend this to anyone."</p>
    <p class="text-xs text-neutral-400 py-4 text-right">Bradford</p>
</section>
</section>

<section  class=" py-4 px-4 bg-gray-900 hover:scale-105 transition delay-150 duration-300 ease-in-out" x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:rotate-3 before:bg-hero-pattern ">
        <img src="images/max.jpg" class="object-cover  relative    h-64 w-full" alt="person testimonial" loading="lazy">
    </section>
   <section class="px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Max</h2>
    <p class="text-neutral-400 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
    <p class="text-xs text-neutral-400 py-4 text-right">London</p>
</section>
</section>
<section  class="py-4 px-4 bg-gray-900 hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
        <img src="images/jane.jpg" class="object-cover relative h-64 w-full" alt="person testimonial" loading="lazy">
    </section>
   <section class="bg-gray-900 px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Jane</h2>
    <p class="text-neutral-400 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et 
        exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
        <p class="text-xs text-neutral-400 py-4 text-right">Manchester</p>
        <!-- <hr class="border border-neutral-400"> -->
        <!-- <p class="text-neutral-400">**** on trustpilot</p> -->
   </section>
  
</section>
<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
      <div class="carousel-item active relative float-left w-full">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
          class="block w-full"
          alt="..."
        />
        <div class="carousel-caption hidden md:block absolute text-center">
          <h5 class="text-xl">First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item relative float-left w-full">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
          class="block w-full"
          alt="..."
        />
        <div class="carousel-caption hidden md:block absolute text-center">
          <h5 class="text-xl">Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item relative float-left w-full">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
          class="block w-full"
          alt="..."
        />
        <div class="carousel-caption hidden md:block absolute text-center">
          <h5 class="text-xl">Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
</section>
</section>


<!-- 
<section class="bg-backg-wave-middle h-96 w-full py-8 bg-cover ">
    <section>
        <section class="bg-backg-wave-end h-96 w-full bg-cover px-32 ">
            <h1 class=" text-white text-3xl">THIS IS A TEST</h1>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat quidem quo ipsa, neque ducimus eos incidunt tempora quam blanditiis optio asperiores aliquam magnam sit, officiis minus at magni totam!</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quae aut officiis, in iure modi nobis error! Magni incidunt assumenda officiis. Dignissimos nesciunt quas soluta debitis illo reprehenderit odit.</p>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, recusandae atque modi, quam asperiores id neque ducimus dolore aspernatur soluta vitae ea laborum. Quia, cupiditate ea id quas esse excepturi.</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto corrupti eius, culpa dolores quaerat quam beatae cupiditate atque labore. Praesentium eaque inventore iste atque necessitatibus voluptates nesciunt quam consectetur.</p>
            <section>
        <h1>Well being tools</h1> -->
    <!-- </section>
</section>

</section>
<section class="flex bg-circles h-96 w-full py-8 px-32">
    
<section class="w-1/2 relative bottom-14 shadow">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
    <img class="relative z-10 " src="/images/trees.jpg" alt="" loading ='lazy'>
    </section>
</section>
<section class="px-4">
<h1 class=" text-white">fdweffwefwefwefwe</h1>
</section> -->

</section>
<script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>