<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 md:h-auto  pb-32">
<section class ="container mx-auto lg:pt-4 lg:flex lg:flex-row w-full  h-52 relative ">
<section class=" flex flex-col gap-8 px-8">
   
    <h1 class=" text-black font-medium text-4xl leading-loose flex flex-col font-poppins" x-intersect="$el.classList.add('fadeInUp')" >Permit Yourself To Take  <span class="text-8xl font-bold text-teal-700">control</span></h1>
    <p class=" text-gray-800 text-xl  leading-relaxed font-light font-poppins " x-intersect="$el.classList.add('fadeInUp')" >A place for all of your well being purposes. Find a community, 
        help yourself using our support toolkit or just unwind in our meditation zone.</p>
      
<section class="flex flex-col">

<button class="py-4 px-2 w-52 rounded-3xl text-orange-100 font-bold bg-teal-700 text-xl hover:bg-teal-900   border-white border-dotted border-2">Start You Journey</button>

</section>
</section>

<section class="p-8 w-full bg-contain bg-no-repeat md:bg-top " x-intersect="$el.classList.add('scale')">
    <section class="relative before:block before:absolute before:-left-5 before:-inset-0.5 before:-rotate-3 before:bg-teal-800 " >
        <img src="images/flowers.jpg" class=" shadow-md object-cover bg-blend-darken relative" alt="person testimonial" loading="lazy" style="width:100%;height:500px" >
        </section>
</section>

</section>
<section class="flex justify-center  bg-wave-line bg-no-repeat bg-cover  md:h-auto">
<img src="images/blackarrow.svg" alt="">
</section>
<!-- <section class="py-8 px-4 pt-16">
    <section class="flex sm:flex-col  mb-10  bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border shadow-lg border-gray-700">
    <section class="flex flex-col justify-center items-center  w-full gap-8 p-8 ">
        <h1  class="text-center  text-neutral-300 relative font-poppins text-4xl md:text-5xl font-bold ">A community that empowers each other...</h1>
        <h2 class="text-center text-neutral-400 text-xl p-5 md:px-52">92% of our users saw improvements in their wellbeing after joining Emotionaliser</h2>
    </section>
</section>
</section> -->
<section class=" px-4 md:px-32 pt-16 ">
<section class="" id="community">
    <h1 class="text-3xl font-poppins text-center leading-loose">Join Our Supportive Community</h1>
    <p class="text-lg font-poppins text-center leading-relaxed font-light">When you sign up to our website you will have the opportunity to find a wonderful and supportive community via our online forums. Share your thoughts and help each other grow. No-one should ever go through hard times alone.</p>
</section>
</section>
<section class="flex align-top justify-center">
    <img src="images/arrows.svg" alt="">
</section>


<section id='testimonials' class="container mx-auto pb-32 ">
    
<section class="grid grid-cols-1 gap-8  md:grid-cols-3 lg:grid-cols-3 md:px-28 md:py-4  px-4">

    <section  class=" border-white border-dashed border-4 py-4 px-4  hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
        <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
            <img src="images/jane.jpg" class="object-cover relative" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
        </section>
       <section class=" px-4 py-4">
        <h2 class="tracking-widest text-neutral-400 font-bold py-4">Jane</h2>
        <p class="text-black pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et 
            exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
            <p class="text-xs text-neutral-400 py-4 text-right">Manchester</p>
            <!-- <hr class="border border-neutral-400"> -->
            <!-- <p class="text-neutral-400">**** on trustpilot</p> -->
       </section>
      
    </section>



<section  class=" border-white border-dashed border-4  py-4 px-4 hover:scale-105 transition delay-150 duration-300 ease-in-out" x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:rotate-3 before:bg-hero-pattern ">
        <img src="images/max.jpg" class="object-cover" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
    </section>
   <section class="px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Max</h2>
    <p class="text-black text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
    <p class="text-xs text-neutral-400 py-4 text-right">London</p>
</section>
</section>
<section  class=" border-white border-dashed border-4 py-4 px-4  hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
        <img src="images/jane.jpg" class="object-cover relative" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
    </section>
   <section class=" px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Jane</h2>
    <p class="text-black pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et 
        exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
        <p class="text-xs text-neutral-400 py-4 text-right">Manchester</p>
        <!-- <hr class="border border-neutral-400"> -->
        <!-- <p class="text-neutral-400">**** on trustpilot</p> -->
   </section>
  
</section>

</section>
</section>
<section class="flex p-4 md:px-32 pb-16" id="tools" >
    <section class="">
        <h1 class="text-3xl font-poppins text-center leading-loose">Try Out Our Self Support toolkit</h1>
        <p class="text-lg font-poppins text-center leading-relaxed font-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quo blanditiis molestiae asperiores corrupti placeat porro fugiat, eum amet omnis tenetur sapiente dolores optio ratione voluptates nobis quidem voluptatum necessitatibus.</p>
    </section>
    </section>
    <section class="flex align-top justify-center">
        <img src="images/arrowspink.svg" alt="">
    </section>

<section class ="flex md:flex-row tools h-72 mx-auto mt-10 px-4 md:px-40">
    <section class="w-auto flex flex-col md:flex-row items-center space-x-8">
        <img src="images/meditate.png" alt="" style="width:200px;height:200px">
        <section>
        <h2 class="text-xl font-poppins leading-loose">Meditate And Unwind</h2>
        <p class="text-lg font-light">Relax in our meditation Zone. Whether you can'sleep, you feel anxioux or low, there is a meditation space for everyone. Just choose and sit back and take the weight off. </p>
    </section>
    </section>
</section>

<section class ="md:flex md:flex-row tools h-72  mx-auto mt-10 px-4 md:px-40">
    <section class="w-auto flex flex-col md:flex-row  items-center space-x-8">
        <img src="images/thoughts.png" alt="" style="width:200px;height:200px">
        <section>
            <h2 class="text-xl font-poppins leading-loose">Think And Reflect</h2>
            <p class="text-lg font-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet eum consequuntur nesciunt itaque veritatis voluptatum alias dignissimos perferendis ipsum, ut, laudantium dolor ratione distinctio consequatur id nihil officia dolorem libero.</p>
        </section>
    </section>
</section>

<section class ="md:flex md:flex-row tools h-72  mx-auto mt-10 px-4 md:px-40">
    <section class="w-auto flex flex-col md:flex-row items-center space-x-8">
        <img src="images/inspire.png" alt="" style="width:200px;height:200px">
        <section>
            <h2 class="text-xl font-poppins leading-loose">Be Inspired</h2>
            <p class="text-lg font-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet eum consequuntur nesciunt itaque veritatis voluptatum alias dignissimos perferendis ipsum, ut, laudantium dolor ratione distinctio consequatur id nihil officia dolorem libero.</p>
        </section>
   
    </section>
    
   
</section>



<!-- <section class="therapist px-32 bg-circles">
    <section class="  shadow-neutral-300 rounded-lg  bg-circled bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 mt-32 p-16">
    <h2 class="text-3xl font-poppins text-center leading-loose">Find a Therapist Local to you. Coming Soon</h2>
    <p class="text-lg font-poppins text-center leading-relaxed font-light">Our Find A Therapist Locator will help you find the right support where you need it and in your locality.</p>


<section class="flex align-top justify-center py-16">
    <img src="images/arrowspink.svg" alt="">
</section>
<section class="w-auto flex  space-x-8">
    <img src="images/" alt="" style="width:500px;height:500px">
    <section>
    <h2 class="text-xl font-poppins">Meditate And Unwind</h2>
    <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet eum consequuntur nesciunt itaque veritatis voluptatum alias dignissimos perferendis ipsum, ut, laudantium dolor ratione distinctio consequatur id nihil officia dolorem libero.</p>
</section>
</section>
</section>
</section> -->
    </section>
</section>
<!-- <section class="bg-grey-900 bg-backg-wave-end bg-no-repeat bg-cover pt-32 md:h-auto ">
   
</section> -->


<!-- 
<section class="bg-backg-wave-middle h-96 w-full py-8 bg-cover ">
    <section>
        <section class="bg-backg-wave-end h-96 w-full bg-cover px-32 ">
            <h1 class=" text-white text-3xl">THIS IS A TEST</h1>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat quidem quo ipsa, neque ducimus eos incidunt tempora quam blanditiis optio asperiores aliquam magnam sit, officiis minus at magni totam!</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quae aut officiis, in iure modi nobis error! Magni incidunt assumenda officiis. Dignissimos nesciunt quas soluta debitis illo reprehenderit odit.</p>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, recusandae atque modi, quam asperiores id neque ducimus dolore aspernatur soluta vitae ea laborum. Quia, cupiditate ea id quas esse excepturi.</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto corrupti eius, culpa dolores quaerat quam beatae cupiditate atque labore. Praesentium eaque inventore iste atque necessitatibus voluptates nesciunt quam consectetur.</p>
            <section>
        <h1>Well being tools</h1> -->
    <!-- </section>
</section>

</section>
<section class="flex bg-circles h-96 w-full py-8 px-32">
    
<section class="w-1/2 relative bottom-14 shadow">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
    <img class="relative z-10 " src="/images/trees.jpg" alt="" loading ='lazy'>
    </section>
</section>
<section class="px-4">
<h1 class=" text-white">fdweffwefwefwefwe</h1>
</section> -->

</section>
<!-- <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script> -->