<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-10 md:h-auto  pb-32">
<section class ="container flex flex-col mx-auto lg:pt-4 lg:flex lg:flex-row w-full  h-52 ">
<section class=" flex flex-col gap-8 md:px-8 px-4">
   
    <h1 class=" text-black font-medium text-xl md:text-3xl leading-loose flex flex-col font-poppins" x-intersect="$el.classList.add('fadeInUp')" >Permit Yourself To Take  <span class="text-4xl md:text-8xl font-bold text-teal-700">control</span></h1>
    <p class=" text-gray-800 md:text-xl text-base  leading-relaxed font-light font-poppins " x-intersect="$el.classList.add('fadeInUp')" >A place for all of your well being purposes. Find a community, 
        help yourself using our support toolkit or just unwind in our meditation zone.</p>
      
<section class="flex flex-col hover:scale-105 transition duration-300 transform">

<button class="py-4 px-2 w-52 rounded-3xl text-orange-100 font-bold bg-teal-700 text-base hover:bg-teal-900  border-white border-dotted border-2 animate-bounce "><a class=""  href="/signup">Start Your Journey</a></button>

</section>
</section>

<section class=" px-8 pt-4 md:p-8 w-full bg-contain bg-no-repeat md:bg-top " x-intersect="$el.classList.add('scale')">
    <section class="relative before:block before:absolute before:-left-1 before:-rotate-2 md:before:-left-5 before:-inset-0.5 md:before:-rotate-3 before:bg-teal-800 " >
        <img src="images/flowers.jpg" class=" shadow-md object-cover bg-blend-darken relative" alt="person testimonial" loading="lazy" style="width:100%;height:500px" >
        </section>
</section>

</section>
<section class="flex justify-center  bg-wave-line bg-no-repeat bg-cover  md:h-auto">
<img src="images/blackarrow.svg" alt="">
</section>

<section class=" px-4 md:px-32 pt-16 ">
<section class="" id="community">
    <h1 class="text-xl md:text-2xl font-poppins  leading-loose">Join Our Supportive Community</h1>
    <p class="text-base md:text-lg font-poppins  leading-relaxed font-light pt-2">When you sign up to our website you will have the opportunity to find a wonderful and supportive community via our online forums. Share your thoughts and help each other grow. No-one should ever go through hard times alone.</p>
</section>
</section>
<section class="flex align-top justify-center">
    <img src="images/arrows.svg" alt="">
</section>


<section id='testimonials' class="container mx-auto  ">
    
<section class="grid grid-cols-1 gap-8  md:grid-cols-3 lg:grid-cols-3 md:px-28 md:py-4 px-4 md:h-auto ">

    <section  class=" border-white border-dashed border-4 py-4 px-4  hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
        <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
            <img src="images/jane.jpg" class="object-cover relative" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
        </section>
       <section class=" px-4 py-4">
        <h2 class="tracking-widest text-neutral-400 font-bold py-4">Jane</h2>
        <p class="text-black pb-4">I've been using emotionalise to record my thoughts on a daily basis and find that being able to look back and track my emotions helps to improve and manage them going forward. </p>
            <p class="text-xs text-neutral-400 py-4 text-right">Manchester</p>
       
       </section>
      
    </section>

<section  class=" border-white border-dashed border-4  py-4 px-4 hover:scale-105 transition delay-150 duration-300 ease-in-out" x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:rotate-3 before:bg-hero-pattern ">
        <img src="images/max.jpg" class="object-cover" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
    </section>
   <section class="px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Max</h2>
    <p class="text-black text-left">I enjoy sharing to the local community forums and being able to chat with others in a safe and supportive environment. Being able to communicate with others improves my mood.</p>
    <p class="text-xs text-neutral-400 py-4 text-right">London</p>
</section>
</section>
<section  class=" border-white border-dashed border-4 py-4 px-4  hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
        <img src="images/john.jpg" class="object-cover relative" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
    </section>
   <section class=" px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">John</h2>
    <p class="text-black pb-4">I've been using the app for some time now and have made some friends on the apps community. Although the app is still in its pilot phase, I can't wait to see what else is in store.</p>
        <p class="text-xs text-neutral-400 py-4 text-right">Manchester</p>
   </section>
  
</section>

</section>
</section>

<section class="flex justify-center  bg-wave-line bg-no-repeat bg-cover  md:h-auto pb-8 ">
    <img src="images/blackarrow.svg" alt="" class="">
    </section>
<section class="flex p-4 md:px-32" id="tools" >
    <section class="">
        <h1 class="text-xl md:text-2xl font-poppins  leading-loose">Try Out Our Self Support toolkit</h1>
        <p class="text-base md:text-lg font-poppins leading-relaxed font-light pt-2">Our self support toolkit is designed to help you manage and persist those positive feelings whether it be through recording and analysing your thoughts or posting and storing your favourite and inspirational quotes.</p>
    </section>
    </section>
    <section class="flex align-top justify-center">
        <img src="images/arrowspink.svg" alt="">
    </section>



<section class ="md:flex md:flex-row tools h-72  mx-auto mt-10 px-4 md:px-40" x-intersect="$el.classList.add('moveToRight')">
    <section class="w-auto flex flex-col md:flex-row  items-center space-x-8">
        <img src="images/thoughts.png" alt="" style="width:200px;height:200px">
        <section class="pt-2">
            <h2 class="text-xl md:text-2xl  font-poppins leading-loose">Think And Reflect</h2>
            <p class="text-base  font-poppins font-light pt-2">Use the emotionalise thought diary to input your daily thoughts and analyse these thoughts through the dashboard and thought Dairy homepage.</p>
        </section>
    </section>
</section>

<section class ="md:flex md:flex-row tools h-72  mx-auto mt-10 px-4 md:px-40" x-intersect="$el.classList.add('moveToLeft')">
    <section class="w-auto flex flex-col md:flex-row items-center space-x-8">
        <img src="images/inspire.png" alt="" style="width:200px;height:200px">
        <section class="pt-2">
            <h2 class="text-xl md:text-2xl font-poppins leading-loose">Be Inspired</h2>
            <p class="text-base  font-poppins font-light pt-2">Take inspiration and courage from actively discovering, posting and reflecting on motivational quotes.</p>
        </section>
   
    </section>
    
   
</section>

<section class ="flex md:flex-row tools h-72 mx-auto mt-10 px-4 md:px-40" x-intersect="$el.classList.add('moveToRight')">
    <section class="w-auto flex flex-col md:flex-row items-center space-x-8">
        <img src="images/meditate.png" alt="" style="width:200px;height:200px">
        <section class="pt-2">
        <h2 class="text-xl md:text-2xl  font-poppins leading-loose">Meditate And Unwind (Currently under development)</h2>
        <p class="text-base  font-poppins md:text-lg font-light pt-2">Relax in our meditation Zone. Whether you can'sleep, you feel anxioux or low, there is a meditation space for everyone. Just choose and sit back and take the weight off. </p>
    </section>
    </section>
</section>



<!-- <section class="therapist px-32 bg-circles">
    <section class="  shadow-neutral-300 rounded-lg  bg-circled bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 mt-32 p-16">
    <h2 class="text-3xl font-poppins text-center leading-loose">Find a Therapist Local to you. Coming Soon</h2>
    <p class="text-lg font-poppins text-center leading-relaxed font-light">Our Find A Therapist Locator will help you find the right support where you need it and in your locality.</p>


<section class="flex align-top justify-center py-16">
    <img src="images/arrowspink.svg" alt="">
</section>
<section class="w-auto flex  space-x-8">
    <img src="images/" alt="" style="width:500px;height:500px">
    <section>
    <h2 class="text-xl font-poppins">Meditate And Unwind</h2>
    <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet eum consequuntur nesciunt itaque veritatis voluptatum alias dignissimos perferendis ipsum, ut, laudantium dolor ratione distinctio consequatur id nihil officia dolorem libero.</p>
</section>
</section>
</section>
</section> -->
    </section>
</section>
<!-- <section class="bg-grey-900 bg-backg-wave-end bg-no-repeat bg-cover pt-32 md:h-auto ">
   
</section> -->


<!-- 
<section class="bg-backg-wave-middle h-96 w-full py-8 bg-cover ">
    <section>
        <section class="bg-backg-wave-end h-96 w-full bg-cover px-32 ">
            <h1 class=" text-white text-3xl">THIS IS A TEST</h1>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat quidem quo ipsa, neque ducimus eos incidunt tempora quam blanditiis optio asperiores aliquam magnam sit, officiis minus at magni totam!</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quae aut officiis, in iure modi nobis error! Magni incidunt assumenda officiis. Dignissimos nesciunt quas soluta debitis illo reprehenderit odit.</p>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, recusandae atque modi, quam asperiores id neque ducimus dolore aspernatur soluta vitae ea laborum. Quia, cupiditate ea id quas esse excepturi.</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto corrupti eius, culpa dolores quaerat quam beatae cupiditate atque labore. Praesentium eaque inventore iste atque necessitatibus voluptates nesciunt quam consectetur.</p>
            <section>
        <h1>Well being tools</h1> -->
    <!-- </section>
</section>

</section>
<section class="flex bg-circles h-96 w-full py-8 px-32">
    
<section class="w-1/2 relative bottom-14 shadow">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
    <img class="relative z-10 " src="/images/trees.jpg" alt="" loading ='lazy'>
    </section>
</section>
<section class="px-4">
<h1 class=" text-white">fdweffwefwefwefwe</h1>
</section> -->

</section>
<!-- <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script> -->