<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 md:h-auto md:pb-72 pb-32">
<section class ="container mx-auto lg:pt-4 lg:flex lg:flex-row w-full ">
<section class=" flex flex-col gap-8 font-barlow  ">
   
    <h1 class=" text-neutral-300 font-bold font-barlow text-4xl flex flex-col" x-intersect="$el.classList.add('fadeInUp')" >Allow yourself, take <span class="text-7xl text-yellow-700">control.</span></h1>
    <p class=" text-neutral-400 font-barlow text-xl font-light " x-intersect="$el.classList.add('fadeInUp')" >A place for all of your well being purposes. Find a therapist, 
        help yourself using our support toolkit or just unwind in our meditation zone.</p>
      

<button class="px-8 py-4 w-44 rounded-3xl text-gray-900 font-bold bg-teal-700 text-xl font-barlow">Start Today</button>

</section>
<section class=" mt-16 w-full bg-contain bg-no-repeat md:bg-top  " x-intersect="$el.classList.add('scale')">
<img src="/images/mind.png" alt="">
</section>
</section>

<section class="py-8 px-4 pt-16">
    <section class="flex sm:flex-col  mb-10  bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border shadow-lg border-gray-700">
    <section class="flex flex-col justify-center items-center  w-full gap-8 p-8 ">
        <h1  class="text-center  text-neutral-300 relative font-barlow  text-4xl md:text-5xl font-bold ">A community that empowers each other...</h1>
        <h2 class="text-center text-neutral-400 text-xl p-5 md:px-52">92% of our users saw improvements in their wellbeing after joining Emotionaliser</h2>
    </section>
</section>
</section>



<section id='testimonials' class="container mx-auto">
    
<section class="grid grid-cols-1 gap-8  md:grid-cols-3 lg:grid-cols-3 md:px-28 md:py-4  px-4">

<section  class="py-4 px-4 border border-gray-700 bg-gray-900 hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
   
    <section class="relative  before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
    <img src="images/john.jpg" class="object-cover bg-blend-darken relative h-64 w-full" alt="person testimonial" loading="lazy" style="width:100%;height:200px" >
    </section>
    <section class="px-4 py-4 ">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">John</h2>
    <p class="text-neutral-400">"I had a hard time trying to manage my frustration before I found Emotionaliser. Using the thought diary allowed me to connect with my feelings and manage them effectively. I would recommend this to anyone."</p>
    <p class="text-xs text-neutral-400 py-4 text-right">Bradford</p>
</section>
</section>

<section  class=" border border-gray-700 py-4 px-4 bg-gray-900 hover:scale-105 transition delay-150 duration-300 ease-in-out" x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:rotate-3 before:bg-hero-pattern ">
        <img src="images/max.jpg" class="object-cover" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
    </section>
   <section class="px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Max</h2>
    <p class="text-neutral-400 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
    <p class="text-xs text-neutral-400 py-4 text-right">London</p>
</section>
</section>
<section  class="border border-gray-700 py-4 px-4 bg-gray-900 hover:scale-105 transition delay-150 duration-300 ease-in-out " x-intersect="$el.classList.add('moveToRight')">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
        <img src="images/jane.jpg" class="object-cover relative" alt="person testimonial" loading="lazy" style="width:100%;height:200px">
    </section>
   <section class="bg-gray-900 px-4 py-4">
    <h2 class="tracking-widest text-neutral-400 font-bold py-4">Jane</h2>
    <p class="text-neutral-400 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis nostrum et 
        exercitationem laboriosam, ex eligendi tempora nobis quis aliquid incidunt! Ipsum excepturi accusamus ea hic voluptate, blanditiis ullam quae?</p>
        <p class="text-xs text-neutral-400 py-4 text-right">Manchester</p>
        <!-- <hr class="border border-neutral-400"> -->
        <!-- <p class="text-neutral-400">**** on trustpilot</p> -->
   </section>
  
</section>

</section>
</section>
</section>


<!-- 
<section class="bg-backg-wave-middle h-96 w-full py-8 bg-cover ">
    <section>
        <section class="bg-backg-wave-end h-96 w-full bg-cover px-32 ">
            <h1 class=" text-white text-3xl">THIS IS A TEST</h1>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat quidem quo ipsa, neque ducimus eos incidunt tempora quam blanditiis optio asperiores aliquam magnam sit, officiis minus at magni totam!</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit quae aut officiis, in iure modi nobis error! Magni incidunt assumenda officiis. Dignissimos nesciunt quas soluta debitis illo reprehenderit odit.</p>
            <p class=" text-white ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, recusandae atque modi, quam asperiores id neque ducimus dolore aspernatur soluta vitae ea laborum. Quia, cupiditate ea id quas esse excepturi.</p>
            <p class=" text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis architecto corrupti eius, culpa dolores quaerat quam beatae cupiditate atque labore. Praesentium eaque inventore iste atque necessitatibus voluptates nesciunt quam consectetur.</p>
            <section>
        <h1>Well being tools</h1> -->
    <!-- </section>
</section>

</section>
<section class="flex bg-circles h-96 w-full py-8 px-32">
    
<section class="w-1/2 relative bottom-14 shadow">
    <section class="relative before:block before:absolute before:-inset-1 before:-rotate-3 before:bg-teal-800 ">
    <img class="relative z-10 " src="/images/trees.jpg" alt="" loading ='lazy'>
    </section>
</section>
<section class="px-4">
<h1 class=" text-white">fdweffwefwefwefwe</h1>
</section> -->

</section>
<!-- <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script> -->