<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-32 min-h-screen md:pb-56">
    <section class="text-white">
<img src="" alt="">
<p><%=user.userName%></p>
<p><%=user.email%></p>
<p><%=user.password%></p>
</section>
</section>