<!-- book mark option for favourite community quotes -->
<!-- link to comunity quotes
link to your own quotes -->
<section>

<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-28 min-h-screen md:pb-56">
  
    <section class="flex justify-center">
    
    <!-- <section class="w-full max-w-5xl"> -->
      
        <form action="/dashboard/tools/motivations/submit-motivation" enctype="multipart/form-data" method="post" class="shadow-md rounded px-8 pt-6 pb-8 mb-4 text-white  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-500">
          <section class="mb-6">
            <label class="block  text-white font-bold mb-2" for="password">
              Add A Title
                </label>
                <section>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="poem" type="text" placeholder="title" name="title">
              </section>
              
            <label class="block  text-white font-bold mb-2" for="password">
          Add Your Poem Or Quote Below:
            </label>
            <section>
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="poem" type="text" placeholder="details" name="poem"></textarea>
          </section>
          <label class="block  text-white font-bold mb-2" for="password">
           Author
              </label>
              <section>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="poem" type="text" placeholder="author" name="author">
            </section>
          <section class="mb-6">
            <label class="block text-white text-sm font-bold mb-2" for="details">
              Make Private
            <input type="checkbox" name="private">
            </label>
           
          </section>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Upload background for your quote</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <section class="flex items-center justify-between">
            <button class="bg-white hover:bg-slate-300 border border-2  shadow-slate-700 shadow-sm text-zinc-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
             Done
            </button>
           
          </section>
        </form>
      </section>
      
      </section>
    </section>
   
  </section>