

<section
  class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-28 min-h-screen md:pb-56"
>
  <h1
    class="px-16 py-4 text-neutral-300 font-bold  text-4xl flex justify-center"
  >
    <%= users.userName%>
  </h1>
  <h1
    class="px-16 py-4 text-neutral-300 font-bold text-black text-xl flex justify-center"
  >
    Thought Diary
  </h1>

  <
</section>
