
<section class="bg-grey-900 bg-backg-wave bg-no-repeat bg-cover pt-28 min-h-screen md:pb-56">

    <h1 class="px-16 py-4 text-neutral-300 font-bold font-barlow text-4xl flex justify-center">Thought Diary</h1>
   
    <section class=" text-white">
        <section class="flex flex-col align-middle items-center justify-center h-screen">
            
            <!-- image could be a github heatmap for each thought map entry -->
            <section class=" hover:scale-105 transition delay-150 duration-300 ease-in-out max-w-sm rounded overflow-hidden shadow-lg h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-200">
                <a href="/tools/thoughtdiary/submit-thought">
                <img class="w-full" src="/images/moods.jpg" alt="Sunset in the mountains">
                  <section class="px-6 py-4">
                    <section class="font-bold text-xl mb-2 text-center">Add A Thought</section>
                  </section>
                  <section class="px-6 pt-4 pb-2">
                 
                    <!-- <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Happ</span>
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#</span>
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span> -->
                  </section>
                </a>

                </section>
                <section class=" pt-20 container w-48">
                  <h1>thoughts</h1>
                  <ul>
                    <% for(var i=0; i<thoughts.length; i++) {%>
                    <li>
                      <a href="/tools/thoughtdiary/<%= thoughts[i]._id%>">
                      <img src="<%= thoughts[i].image%>">
                    </a>
                    </li>
                    <% } %>
                  </ul>
                </section>
                </section>
                </section>
                </section>