@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    @keyframes fadeInUp {
        
        0% {
            opacity: 0;
            transform:translateY(50%)
        },
        100% {
            opacity:1;
            transform:translateY(0%)
        }
    }
    .fadeInUp{
        animation: fadeInUp 1s;
    }

    @keyframes scale {
        
        0% {
            opacity: 0;
            transform:scale(0.5)
        },
        100% {
            opacity:1;
            transform:scale(1.2)
        }
    }
    .scale{
        animation: scale 1s;
    }

    @keyframes moveToRight {
        0% {
            transform: translateX(-30px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .moveToRight{
        animation: moveToRight 1s ease-in-out;
          @keyframes moveToRight {
        0% {
        
            transform:translateX(-100px);
       
        }
        100% {
       
            transform:translateX(0);
         
        }
    }

    .moveToRight{
        animation: moveToRight 1s ease-in-out;
    }
}
.moveToLeft{
    animation: moveToLeft 1s ease-in-out;
      @keyframes moveToLeft {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-100px);
    }
}

.moveToLeft{
    animation: moveToLeft 1s ease-in-out;
}
}


}


.bg-hero-pattern{
    background-color: #101827;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%231e9789' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}