@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeInUp {

    0% {
      opacity: 0;
      transform: translateY(50%)
    }

    ,
    100% {
      opacity: 1;
      transform: translateY(0%)
    }
  }

  .fadeInUp {
    animation: fadeInUp 1s;
  }

  @keyframes scale {

    0% {
      opacity: 0;
      transform: scale(0.5)
    }

    ,
    100% {
      opacity: 1;
      transform: scale(1.2)
    }
  }

  .scale {
    animation: scale 1s;
  }

  @keyframes moveToRight {
    0% {
      transform: translateX(-300px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .moveToRight {
    animation: moveToRight 1s ease-in-out;

    @keyframes moveToRight {
      0% {

        transform: translateX(-100px);

      }

      100% {

        transform: translateX(0);

      }
    }

    .moveToRight {
      animation: moveToRight 1s ease-in-out;
    }
  }

  @keyframes moveToLeft {
    0% {
      transform: translateX(500px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .moveToLeft {
    animation: moveToLeft 1s ease-in-out;

    @keyframes moveToLeft {
      0% {
        transform: translateX(100px);
      }

      100% {
        transform: translateX(0px);
      }
    }

    .moveToLeft {
      animation: moveToLeft 1s ease-in-out;
    }
  }


}


.bg-hero-pattern {
  background-color: #101827;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%231e9789' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 3px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    margin-top: -14px; 
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  } */

.gdas-range {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, red, green);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.gdas-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ddd;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background-image: linear-gradient(white, white), linear-gradient(to right, red, green);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
}

.gdas-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ddd;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background-image: linear-gradient(white, white), linear-gradient(to right, red, green);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
}





/* Other styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}


.bg-motivations {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
  height: 300px;


}

@media only screen and (max-width: 600px) {

  .bg-motivations {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    height: 200px;


  }

}


input[type=file]::file-selector-button {
  border: 1px solid #0D766E;
  margin-top: 10px;
  padding: .5em .8em;
  border-radius: 10px;
  background-color: transparent;
  transition: 1s;
  color: #4E4D4C;
}

input[type=file]::file-selector-button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

input[type='file'] {
  font-size: 0;
}

::file-selector-button {
  font-size: initial;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {

  visibility: hidden;
  width: 220px;
  /* background-color:#374151; */

  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}